<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="fas fa-file-alt me-2"></i>
            Generate Document API
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'home' ? 'active' : '' %>" href="/">
                        <i class="fas fa-home me-1"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'templates' ? 'active' : '' %>" href="/templates">
                        <i class="fas fa-file-alt me-1"></i>
                        Templates
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'docs' ? 'active' : '' %>" href="/docs">
                        <i class="fas fa-book me-1"></i>
                        API Docs
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
